body {
    background-color: #26428b;
    /* Sets the background color */
}
.BBLogo {
    float: left;
    margin: 0;
    -ms-transform: translate(10%, 0%);
    transform: translate(10%, 0%);
    height: 120px;
    width: 120px;
    /* Positions the image of the Blind Brook Logo to be in the top left corner */
}

.title {
    margin: 0;
    -ms-transform: translate(0%, 10%);
    transform: translate(0%, 10%);
    font-family: 'Alegreya Sans SC';
    font-size: 80px;
    font-weight: 900;
    color: white;
    text-align: center;
    /* Styles the heading which says "Online Time Verification Form */
    
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    text-indent: 10px;
    opacity: 1; /* Firefox */
    
    /* Styles the placeholder texts for the email address and password textbox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    text-indent: 10px;
    
    /* Styles the placeholder texts for the email address and password textbox */
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    text-indent: 10px;
    /* Styles the placeholder texts for the email address and password textbox */
}
.textfields {
    text-indent: 10px;
    height: 50px;
    width: 500px;
    font-size: 20px;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 15px;
    /* Styles the textfields which includes the email address and the password */
}
.textfieldPosition {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* Positions the textfield to be in the center of the page */
}
.logInButton {
    margin: 0;
    position: absolute;
    top: 150%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 40px;
    width: 150px;
    background-color: lightblue;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
    border-radius: 3px;
    /*Styles as well as position the log in button */
    
}
