body {
    background: #FFF;
    padding: 0; margin: 0;
    font-family: 'Roboto', sans-serif;
}

.title {
    padding: 16px 72px;
    background: #26428b;
    color: #FFF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

main {
    padding: 16px 72px;
}

h1 {
    font-size: 16px;
    font-weight: bold;
}

.card {
    padding: 16px;
    border-radius: 2px;
    background: #FFF;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);

    max-width: 300px;
    margin: auto;
    margin-top: 10%;
}
    .card h1 {
        text-align: center;
    }

.textfield {
    outline: 0;
    border: 0;
    background: transparent;
    padding: 8px 16px;
    border-bottom: 2px solid #AAA;
    font-size: 14px;

    display: block;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}
    .textfield.dark {
        color: #FFF;
        border-bottom: 2px solid #FFF;
    }
    .textfield:focus {
        border-bottom: 2px solid #26428b;
    }

.button {
    border: 4px solid transparent;
    border-radius: 2px;
    padding: 8px 16px;
    background: #26428b;
    color: #FFF;
    outline: 0;
    cursor: pointer;
}
    .button:focus {
        border: 4px solid #3761cc;
    }
