<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Suspicious Entries</title>
		{{template "head.html"}}

		<style>
.list:empty::after {
	content: "No suspicious entries :)";
}
		</style>
	</head>
	<body>
		<script>
		{{.Students}}
		</script>
		{{template "toolbar.html" dict "Back" "/all" "Title" "Suspicious Entries" "User" .User}}
		<ul class="list linked">
		{{- $global := .}}
		{{- range $id, $entry := .Entries}}
			{{- $key := index $id 1}}
			{{- $student := index $global.Students (index $id 0)}}
			<li><a href="/{{$student.Email}}/{{$key}}">
				{{$entry.Name}}
				<div style="float:right">
					<span style="margin-right:48px">{{$student.Name}}</span>
					<span style="min-width:32px;display:inline-block;text-align:right;">{{$entry.Hours}}</span>
				</div>
			</a>
		<!-- TODO: Add way to unflag directly from here -->
			</li>
		{{end -}}
		</ul>
	</body>
</html>
