<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{.Student.Name}}'s hours</title>
		{{template "head.html"}}
		<style>
@media print {
	#add {
		display: none;
	}
}
#hours:empty::after {
	content: "No hours yet :(";
}
		</style>
	<body>
		{{if .User.Admin}}
			{{template "toolbar.html" dict "Back" "/all" "Title" (printf "%s's hours" .Student.Name) "User" .User}}
		{{else}}
			{{template "toolbar.html" dict "Back" "" "Title" (printf "%s's hours" .Student.Name) "User" .User}}
		{{end}}
		<main style="color:#fff;background:#aaa"><b>Total</b> 
			<span style="float:right" {{- if lt .Entries.Total .Student.Required}} title="{{.Student.Required}} hours recommended by the end of {{fmtordinal .Student.RealGrade}} grade">
			<span aria-label="Warning" class="material-icons" style="vertical-align:top;margin-right:4px;cursor:default;">&#xe002;</span{{end}}>
			<b>{{.Entries.Total}}</b></span></main>
		<ul class="list linked" id="hours">
		{{- $global := .}}
		{{- range $id := .Keys}}
			{{- $entry := (index $global.Entries $id)}}
			{{- if $entry}}
				<li><a href="/{{$global.Student.Email}}/{{$id}}">
				{{$entry.Name}}
				<div style="float:right">
				<span style="margin-right:48px">{{$entry.Date.Format "Jan 2, 2006"}}</span>
				<span style="min-width:32px;display:inline-block;text-align:right;">{{$entry.Hours}}</span>
				</div>
				</a></li>
			{{end -}}
		{{end -}}
		</ul>
		<a id="add" href="/{{.Student.Email}}/add" class="button strong corner">Add</a>		
   </body>
</html>
