body {
	background: #FFF;
	padding: 0; margin: 0;
	font-family: 'Roboto', sans-serif;
}

.horizontal-padding {
	padding-left: 72px;
	padding-right: 72px; }

.title {
	padding: 24px 72px;
	background: #26428b;
	color: #FFF;
	display: flex;
	align-items: center;
	position:fixed;top:0;left:0;right:0;
	white-space: nowrap;
}
	.title > a, .title > span {
		color: #FFF;
		text-decoration: none;
	}
	.title a:hover:not(.button) {
		border-bottom: 2px solid;
	}
	.title .button {
		padding: 0 8px;
		margin-top: -8px;		
		margin-bottom: -8px;
	}
	.title #signout-form {
		margin-left: 16px;
	}
	.title h1, .title h2, .title h3, .title h4, .title h5, .title h6 {
		margin: 0;
		overflow: auto;
		margin-right: 8px;
	}
	.title .textfield {
		padding: 0;
		/* Compensate for border */
		margin-bottom: -2px;
	}
	.title-spacer {height:56px;}
	.title .icon {
		position:absolute;
		left: 24px;
		top: 24px;
		margin: 0;

		text-decoration: none;
		border: 0 !important;
	}

@media print {
	.title :not(h1) {
		display: none;
	}
}

span {
    font-size: 18px;
}

.list {
	padding: 10px 0;
	margin: 0 0 72px 0;
}
	.list > li {
		list-style-type: none;
		padding: 8px 72px;
		margin: 0;
	}
	.list.linked li {
		padding: 0;
	}
	.list.linked li a, .list.linked li.group label {
		text-decoration: none;
		padding: 8px 72px;		
		display: block;
		color: inherit;
		outline: 0;
		font-size: 16px;
		font-weight: normal;
	}
	.list.linked li a:hover, .list.linked li a:focus, .list.linked li.group label:hover, .list.linked li.group label:focus {
		background: rgba(0,0,0,0.1);
	}
	.list.linked li a:active, .list.linked li.group label:active {
		background: rgba(0,0,0,0.2);
	}
	.list.linked .group ul {
		padding: 0;
		margin: 0;
		display: none;
	}
	.list.linked .group input { display: none; }
	.list.linked .group input:checked + ul { display: block; }
	.list.linked li.group ul li a {
		padding-left: 108px;
	}
	.list:empty::after {
		display: block;
		margin-top: 128px;
		font-size: 24px;
		text-align: center;
	}

main {
	padding: 48px 72px;
}

#total-hours {
	padding: 32px 72px 16px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
}

h1 {
	font-size: 24px;
	font-weight: bold;
}

#pop {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
}

.card {
	padding: 16px;
	border-radius: 2px;
	background: #FFF;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);

	max-width: 300px;
	margin: auto;
	margin-top: 10%;
}
	.card h1 {
		text-align: center;
	}

.textfield {
	outline: 0;
	border: 0;
	background: transparent;
	color: black;
	padding: 8px 16px;
	border-bottom: 2px solid #AAA;
	font: inherit;
	border-radius: 0;

	margin-bottom: 4px;

	display: block;
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
}
	.textfield.dark {
		color: #FFF;
		border-bottom: 2px solid transparent;
	}
	.textfield.dark:focus {
		color: #FFF;
		border-bottom: 2px solid #fff;
	}
	.textfield:invalid {
		border-bottom: 2px solid #f44336;
		outline: 0;
		box-shadow: none;
	}
	.textfield:focus {
		border-bottom: 2px solid #26428b;
	}
	textarea.textfield {
		resize: vertical;
	}
	.label + .textfield, label + .textfield {
		padding-top: 4px;
	}

.label, label {
	color: #26428b;
	font-weight: bold;
}

.label, label, small {
	font-size: 12px;
}

.label, label, .form-margin {
	padding-left: 16px;
}

.button {
	display: inline-block;
	font-weight: normal;
	border: 4px solid transparent;
	padding: 4px 16px;
	background: #26428b;
	color: #FFF;
	outline: 0;
	cursor: pointer;
	font-family: inherit;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
    line-height: 24px;
	height: 24px;
    border-radius: 5px;
}
	.button:focus {
		border: 4px solid #3761cc;
	}
.button.light {
	background: #3761cc; 
    height: 40px;
    border-radius: 10px;
}
	.button.light:focus {
		border-color: #37ACCC;
	}
.button.strong {
	background: #e91e63;
    height: auto;
}
	.button.strong:focus {
		border-color: #f06292; 
}

.corner {
    width: 90%;
	border-radius: 10px;
	height: 36px;
    font-size: 24px;
	line-height: 36px;
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%); 
}

.flex {
	display: flex;
	flex-direction: row;
}

.flex > :not(:first-child) {
	margin-left: 16px;
}

@media (max-width: 959px) {
	.title {
		padding: 16px 32px;
	}
	.title.with-icon {
		padding: 16px 80px;
		padding-right: 32px;
	}
	main {
		padding: 16px 32px;
	}
	.list > li {
		padding: 8px 32px;
	}
	.list.linked li a {
		padding: 8px 32px;
	}

	.horizontal-padding {
		padding-left: 32px;
		padding-right: 32px; }


	.hide-med {
		display: none;
	}
	.corner {
		right: 32px;
	}
	.flex:not(.flex-sm) {
		flex-direction: column;
	}
	.flex:not(.flex-sm) > :not(:first-child) {
		margin-left: 0;
	}
}
@media (max-width: 599px) {
	.title {
		padding: 16px;
	}
	.title.with-icon {
		padding: 16px 48px;
		padding-right: 16px;
	}
	.title .icon {
		left: 16px;
	}
	main {
		padding: 16px;
	}
	.list > li {
		padding: 8px 16px;
	}
	.list.linked li a {
		padding: 8px 16px;
	}
	.hide-small {
		display: none;
	}
	.corner {
		right: 16px;
		bottom: 16px;
	}
	.flex-sm {
		flex-direction: column;
	}
	.flex-sm > :not(:first-child) {
		margin-left: 0;
	}

	.horizontal-padding {
		padding-left: 16px;
		padding-right: 16px; }
}

@media print {
	.title-spacer {
		height: 0;
	}
	.title {
		display: none;
	}
}